<md-card class="edit-card">
  <md-card-title color="accent">
    <md-card-title-text>Vehicle Details</md-card-title-text>
  </md-card-title>
  <md-card-content class="secondary">
    <form #f="ngForm">
      <md-input placeholder="Make" name="make" [(ngModel)]="editableVehicle.make"></md-input> <br />
      <md-input placeholder="Model" name="model" [(ngModel)]="editableVehicle.model"></md-input> <br />
      <md-input placeholder="Year" name="year" [(ngModel)]="editableVehicle.year"></md-input>
    </form>
  </md-card-content>
  <md-card-actions align="end">
    <button md-raised-button color="accent" (click)="save()"> Save </button>&nbsp;
    <button md-raised-button (click)="delete()" [class.not-displayed]="adding"> Delete </button>
  </md-card-actions>
</md-card>