.heading {
  text-align: center; 
  margin-bottom: 0;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

[md-fab] {
  position: absolute;
  right: 3%;
  bottom: 56px;
  z-index: 1;
}

.md-card-image {
    width: 300px;
    height: 110px;
}

md-card {
  padding: 0 !important
}

.secondary {
  padding: 24px;
  font-size: 1.2em;
}

.list-card-actions {
  margin-right: 25px;
  margin-left: 0;
}