<article>
    <h3 class="heading">Vehicles</h3>

    <button md-fab color="warn" (click)="addNew()">
        <md-icon class="md-24">add</md-icon>
    </button>

    <div class="card-container">
        <md-card *ngFor="let vehicle of vehicles | async">
            <img src="/app/assets/sm-kitkat1.png" class="md-card-image" alt="Test image">
            <md-card-content class="secondary">
                <p>{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</p>
            </md-card-content>
            <md-card-actions align="end" class="list-card-actions" >
                <button md-button color="primary" (click)="gotoDetail(vehicle.$key)">Edit</button>
            </md-card-actions>
        </md-card>
    </div>

</article>