<h3>Milage Logs</h3>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Date</th>
      <th>Odometer</th>
      <th>Quantity</th>
      <th>Cpst per Unit</th>
      <th>Total Cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs">
      <td class="mdl-data-table__cell--non-numeric">{{ log.date | date }}</td>
      <td>{{ log.odometer | number }} Miles</td>
      <td>{{ log.gallons}} Gallons</td>
      <td>{{ log.costPerGallon | currency:"USD":true }}</td>
      <td>{{ log.totalCost | currency:"USD":true }}</td>
      <td>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--primary" (click)="OnEdit()">
          <i class="material-icons">edit</i>
        </button>
        <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--accent" (click)="OnDelete()">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>