<h2>Milage Logs</h2>
<ul class="logs">
  <li *ngFor="let log of logs" (click)="onSelect(log)" [class.selected]="log === selectedLog">
    <span class="log-element">
      <span class="badge">{{log.id}}</span> {{log.date}}
    </span>
    <button class="delete-button" (click)="delete(log, $event)">Delete</button>
  </li>
</ul>

<button (click)="addLog()">Add New Entry</button>
<div *ngIf="addingLog">
  <log-detail (close)="close($event)"></log-detail>
</div>

<div *ngIf="selectedLog">
  <h2>
    {{selectedLog.date }} 
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>