<h3>Milage Logs</h3>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--4dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Date</th>
      <th>Gallons</th>
      <th>Price Per Gal</th>
      <th>Odometer</th>
      <th>Total Cost</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs" >
      <td class="mdl-data-table__cell--non-numeric">{{log.date}}</td>
      <td>{{log.gallons}}</td>
      <td>{{log.costPerGallon}}</td>
      <td>{{log.odometer}}</td>
      <td>{{log.totalCost}}</td>
  </tbody>
</table>