<div *ngIf="editLog">
  <md-card>
    <md-card-title>
      Fuel Purchase
    </md-card-title>
    <md-card-content class="secondary">
      <form #f="ngForm">
        <md-input placeholder="Date" name="date" [(ngModel)]="editLog.date"></md-input>
        <md-input placeholder="Odometer (Miles)" name="odometer" [(ngModel)]="editLog.odometer"></md-input>
        <md-input placeholder="Quantity (gallons)" name="gallons" [(ngModel)]="editLog.gallons"></md-input>
        <md-input placeholder="Cost per Unit (USD)" name="costPerGallon" [(ngModel)]="editLog.costPerGallon"></md-input>
        <md-input placeholder="Total Cost (USD)" name="totalCost" [(ngModel)]="editLog.totalCost"></md-input>
      </form>
    </md-card-content>
    <md-card-actions align="end">
      <button md-raised-button color="accent" (click)="save()"> Save </button>&nbsp;
      <button md-raised-button (click)="cancel()" [class.not-displayed]="isAddMode()"> Cancel </button>&nbsp;
      <button md-raised-button (click)="deleteLog()" [class.not-displayed]="isAddMode()"> Delete </button>
    </md-card-actions>
  </md-card>
</div>
<div *ngIf="!editLog" class="row">
  No log record found
</div>