h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
h3 {
  font-size: 2.0em;
  margin-top: 0;
  padding-top: 0;
  color: white;
}
.title-navigation__link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.service-tracker-app {
  background: url('../app/assets/Free-Highway-Backgrounds-Highway-Wallpaper-Images-in-HD-For-Desktops-Laptops.jpg') center / cover !important;
}
.service-tracker-app md-toolbar {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  background-color: transparent;
}
.not-displayed {
  display: none;
}
.displayed {
  display: visible;
}

.page-content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -56px; 
}
.page-content:after {
  content: "";
  display: block;
}
.site-footer, .page-content:after {
  height: 56px; 
}
.site-footer {
  background: #333;
  color: white;
  font-size: 1.1em;
  padding: 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 56px;
}