h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
h3 {
  font-size: 2.0em;
  margin-top: 0;
  padding-top: 0;
  color: white;
}
.title-navigation__link {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

.service-tracker-app {
  background: url('../app/assets/Free-Highway-Backgrounds-Highway-Wallpaper-Images-in-HD-For-Desktops-Laptops.jpg') center / cover !important;
}
.service-tracker-app md-toolbar {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  background-color: transparent;
}
.not-displayed {
  display: none;
}
.displayed {
  display: visible;
}

