<div class="sign-in">
  <h1 class="sign-in__heading">Sign in</h1>
  <button class="sign-in__button" (click)="signInWithGithub()" type="button">
    <img src="/app/shared/sign-in/assets/github-6-32.png"/>
    <span> GitHub</span>
  </button>
  <button class="sign-in__button" (click)="signInWithGoogle()" type="button">
    <img src="/app/shared/sign-in/assets/google-32.png"/> 
    <span> Google</span>
  </button>
  <button class="sign-in__button" (click)="signInWithTwitter()" type="button">
    <img src="/app/shared/sign-in/assets/twitter-32.png"/> 
    <span> Twitter</span>
  </button>
</div>