<article>
    <h3 class="heading">Logs</h3>

    <button md-fab color="warn" (click)="addNew()">
        <md-icon class="md-24">add</md-icon>
    </button>

    <app-filter-text (changed)="filterChanged($event)"></app-filter-text>

    <md-list>
        <h3 md-subheader>Receipts</h3>
        <a md-list-item *ngFor="let log of logs | async" (click)="gotoDetail(log.$key)">
            <img md-list-avatar src="./app/assets/receipt.png" alt="receipt">
            <h4 md-line>{{getTypeString(log.logType)}}</h4>
            <p md-line> {{getDate(log.createdAt)}} </p>
            <p md-line class="secondary"> {{(log.totalCost * 1) | currency:'USD':true}} </p>
        </a>
    </md-list>
</article>