.heading {
  text-align: center; 
  margin-bottom: 0;
}

.secondary {
  color: rgba(0,0,0,0.54);
}

md-list {
  background-color: white;
  width: 300px;
  box-shadow: 2px 2px 1px rgba(0,0,0,0.54);;
}

a:hover{
  cursor: pointer;
}

[md-fab] {
  position: absolute;
  right: 3%;
  bottom: 56px;
  z-index: 1;
}