<md-sidenav-layout fullscreen class="service-tracker-app">
    <md-sidenav #sidenav>
        <header>
            <img [src]="userIamge()" class="avatar-frame" />
            <h4>Bill Gauvey</h4>
        </header>
        <md-nav-list>
            <a md-list-item *ngFor="let view of views" [routerLink]="view.href" (click)="sidenav.close()">
                <md-icon md-list-icon>{{view.icon}}</md-icon>
                <span md-line>{{view.name}}</span>
                <span md-line class="secondary">{{view.description}}</span>
            </a>
            <a md-list-item href="#" (click)="signOut()">
                <md-icon md-list-icon>account_circle</md-icon>
                <span md-line>Sign Out</span>
                <span md-line class="secondary">Exit the application</span>
            </a>
        </md-nav-list>
    </md-sidenav>
    <md-toolbar *ngIf="isAauthenticated()">
        <button md-icon-button md-ripple (click)="sidenav.toggle()">
          <svg style="width:24px;height:24px" viewBox="0 0 24 24">
            <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
          </svg>
        </button> {{title}}
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <a class="toolbar-nav-link" [routerLink]="['/vehicles']"><md-icon>directions_car</md-icon> Vehicles</a>
        <a class="toolbar-nav-link" [routerLink]="['/logs']"><md-icon>history</md-icon> Log</a>
    </md-toolbar>
    <section>
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </section>
    <modal-confirm></modal-confirm>

    <toast></toast>
    <footer class="site-footer">
        Created by <a href="http://twitter.com/bgauvey" target="_blank">Bill Gauvey</a>
    </footer>
</md-sidenav-layout>