<div class="mileage-tracker-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title"><a class="title-navigation__link"  href="/">Service Tracker</a></span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/vehicles"><span><i class="material-icons">directions_car</i> Vehicles</span></a>
                <a class="mdl-navigation__link" href="/mileageLogs"><span><i class="material-icons">history</i> Log</span></a>
                <a class="mdl-navigation__link" href="#"><span><i class="material-icons">settings</i> Settings</span></a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Service Tracker</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/"><span><i class="material-icons">home</i> Home</span></a>
            <a class="mdl-navigation__link" href="#"><span><i class="material-icons">directions_car</i> Vehicles</span></a>
            <a class="mdl-navigation__link" href="/mileageLogs"><span><i class="material-icons">history</i> Log</span></a>
            <a class="mdl-navigation__link" href="#"><span><i class="material-icons">settings</i> Settings</span></a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        <section>
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </section>
    </main>
    <spinner></spinner>
    <toast></toast>
    <modal-confirm></modal-confirm>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            Created by <a href="http://twitter.com/bgauvey" target="_blank">Bill Gauvey</a>
        </div>
    </footer>
</div>